/* 
Colours
#E8EDDF PALE GREY
#F5CB5C PALE YELLOW
#F5925D PALE ORANGE
#242423 CHARCOAL
#333533 DARK GREY 
*/

.App {
  height: 100%;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 150px auto;
  grid-template-areas:
    "logo nav"
    "main main";
}

#logo {
  grid-area: logo;
  background-color: #e8eddf;
}
#nav {
  align-items: center;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  background-color: #f5cb5c;
}
#home {
  text-decoration: none;
  height: 100%;
  grid-area: main;
  background-color: #333533;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "sortAndFilter"
    "allArticles";
}
#sortAndFilter {
  align-items: baseline;
  padding: 3px;
  height: 100%;
  background-color: #f5925d;
  grid-area: sortAndFilter;
  display: flex;
  justify-content: space-around;
}
#allArticles {
  text-decoration: none;
  height: 100%;
  background-color: #333533;
  grid-area: allArticles;
}
#articlePreview {
  text-align: left;
  text-decoration: none;
  color: #e8eddf;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #242423;
}

#articlePreview img {
  /* flex-grow: 4;
  padding: 10px;
  height: 100px;
  object-fit: contain; */
  flex-grow: 3;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

#articleTitle {
  flex-grow: 3;
  text-decoration: none;
  grid-area: articleTitle;
}
#articleAuthor {
  flex-grow: 1;
  text-decoration: none;
  grid-area: articleAuthor;
}

#details {
  flex-grow: 1;
  text-align: left;

  grid-area: details;
}

#readArticle {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "article"
    "addComment"
    "comments";
}
#article {
  grid-area: article;
  display: flex;
  flex-wrap: wrap;
}

#article img {
  flex-grow: 3;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

#comments {
  grid-area: comments;
}

#comment {
  background-color: #f5925d;
  margin: 10px;
  padding: 5px;
}
#addComment {
  grid-area: addComment;
}

#user {
  align-content: end;
}
#user img {
  height: 50px;
}
