* {
  text-decoration: none;
}
.App {
  font-family: "Roboto Mono", monospace;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100px auto;
  align-items: start;
  grid-template-areas:
    "logo nav"
    "main main";
}
h1 {
  text-decoration: none;
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
}
h2 {
  font-size: 19px;
  font-weight: 400;
}
h3 {
  font-size: 15px;
  font-weight: 400;
}
h4 {
  font-size: 15px;
  font-weight: 300;
}
#logo {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
  height: 100px;
  grid-area: logo;
  background-color: #e8eddf;
  color: #242423;
}
#logo img {
  margin-bottom: -20px;
  margin-left: 5px;
}
#logo h2 {
  margin-left: -3px;
  font-style: italic;
  font-weight: 700;
}
#nav {
  height: 100px;
  align-items: center;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  background-color: #f5cb5c;
}
#home {
  text-decoration: none;
  height: 100%;
  grid-area: main;
  background-color: #333533;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "sortAndFilter"
    "allArticles";
}

#sortAndFilter {
  align-items: baseline;
  padding: 3px;
  height: 100%;
  background-color: #f5925d;
  grid-area: sortAndFilter;
  display: flex;
  justify-content: space-between;
}
#sort {
  display: flex;
  align-items: center;
}
#filter {
  display: flex;
  align-items: center;
}

#sort img {
  padding-top: 5px;
}

#allArticles {
  text-decoration: none;
  height: 100%;
  background-color: white;
}

.articlePreview {
  text-align: left;
  text-decoration: none;
  color: #e8eddf;
  padding-top: 20px;
}

.articlePreview:hover {
  background-color: #242423;
  transition: 0.2s;

  color: #f5925d;
}

.articlePreview img {
  object-fit: cover;
}
#articleTitle {
  text-decoration: none;
  font-weight: bolder;
  text-align: right;
  letter-spacing: 0.2em;
  line-height: 170%;
}
#articleAuthor {
  text-decoration: none;
  text-align: left;
}

#details {
  text-align: right;
}
#readArticle {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "article"
    "addComment"
    "comments";
}
#article {
  grid-area: article;
  display: flex;
  flex-wrap: wrap;
}

#article-img {
  flex-grow: 3;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

#comments {
  grid-area: comments;
}
#comment {
  background-color: #f5925d;
  margin-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
}
#comments h2 {
  display: flex;
  align-items: center;
}
#comments img {
  margin-top: 2px;
  padding-right: 0.5rem;
}
#addComment {
  grid-area: addComment;
}
#addComment h2 {
  display: flex;
  align-items: center;
}
#addComment img {
  padding-left: 3px;
  padding-right: 0.5rem;
}

input[type="text"] {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  border-radius: 0px;
  border: solid 1px;
  border-color: #333533;
  padding: 8px;
  width: 300px;
}
button {
  font-family: "Roboto Mono", monospace;
  border: solid 1px;
  font-size: 15px;
  background-color: white;
  margin-left: 0.5rem;
}
button:hover {
  font-family: "Roboto Mono", monospace;
  border: solid 1px;
  font-size: 15px;
  border-color: #333533;
  background-color: #333533;
  transition: 0.2s;
}
button:disabled {
  font-family: "Roboto Mono", monospace;
  border: solid 1px;
  font-size: 15px;
  border-color: #878787;
  background-color: #878787;
  transition: 0.4s;
  color: #e8eddf;
}

#user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
#user img {
  height: 2.5rem;
}
select {
  font-family: "Roboto Mono", monospace;

  border: solid 1px;
  font-size: 15px;
}
label {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

#votes img {
  margin-left: 5px;
  margin-bottom: -3px;
}
#articleVotes img {
  margin-left: -2px;
  margin-bottom: -3px;
}
.commentBody {
  margin-left: 8px;
  margin-top: 4px;
}
#postCommentButton {
  padding: 8px;
}

@media only screen and (max-width: 700px) {
  .articlePreview {
    padding-bottom: 0px;
    display: flex;
    align-items: last baseline;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #333533;
  }

  .articlePreview img {
    flex-grow: 500;
    height: 250px;
  }

  #articleTitle {
    flex-grow: 3;
  }
  #articleAuthor {
    flex-grow: 100;
  }

  #details {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 700px) {
  .App {
    margin-left: 25px;
    margin-right: 25px;
  }

  #allPreviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: stretch;
  }
  .articlePreview {
    width: 18rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "img img"
      "title title"
      "author details";
    justify-self: baseline;
  }

  .articlePreview img {
    width: 18rem;
    grid-area: img;
  }

  #articleTitle {
    grid-area: title;
  }
  #articleAuthor {
    grid-area: author;
    align-self: flex-end;
  }

  #details {
    grid-area: details;
    align-self: flex-end;
  }
}
